html {
  font-family: "Montserrat", "Roboto", "Arial", sans-serif;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
}

.first {
  margin-top: 10px;
  text-align: center;
}

.heading {
  text-align: center;
}

.heading h2 {
  font-family: "Montserrat";
  font-weight: bold;
  
  line-height: 50px;
  letter-spacing: -1px;
}

.first-line {
  font-weight: bold;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 2.8px;
  color: #b1b1b1;
  height:22px;
  margin-top: 2%;
}

.quote {
  text-align: center;
}

.vertical-line {
  border-left: 3px solid  #e21f70;
  font-family: 'Playfair Display', serif;
  
  line-height: 37px;
  letter-spacing: 0;
  color: #000000;
  opacity: 78%;
  width:40vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 36px;
}


.sub-heading {
  margin-top: 3%;
}


@media screen and (min-width: 601px) {
  .vertical-line {
    width:36%;
    font-size: 24px;
  }
  .second-ul {
    width:60%
  }
  .sub-heading p {
    width:60%;
  }
}

@media screen and (max-width: 600px) {
  .vertical-line {
    width:85%;
    font-size: 19.5px;
  }
  .heading h2 {
    width:100%;
    font-size: 29px;
  }
  .sub-heading p {
    width:80%;
  }
  .second-ul {
    width:80%
  }
}


.sub-heading p {
  text-align: center;
  font-family: "Roboto";
  font-weight: regular;
  font-size: 22px;
  color:#000000;
  letter-spacing: 0px;
  line-height: 36px;
  
  margin: auto;
  opacity: 78%;
 
}

.second {
  margin-top: 8%;
  
}

.third {
  margin-top: 2%;
  text-align: center;
}

.second-ul{
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  list-style-image: url('img/check.png');
  
 }

 
 .second-ul li {
  font-family: "Roboto";
  font-weight: regular;
  font-size: 20px;
  color: #000000;
  line-height: 26px;
  letter-spacing: 0px;
  opacity: 78%;
  padding-top:20px ;
 
  
 }


/***************************************************************/

ul{
  list-style-type: none; 
}

/***** first Section *********/

.header {
  text-align: center;
  
}

.title {
  font-size: 38px;
  font-weight: bold;
  color: #1e2022;
  letter-spacing: 0.03px;
  margin: 0;
  line-height: 51px;
}

.blink {
  background: -webkit-linear-gradient(left, #e21f70, #ff4d2c);
  background: -o-linear-gradient(right, #e21f70, #ff4d2c);
  background: -moz-linear-gradient(right, #e21f70, #ff4d2c);
  background: linear-gradient(to right, #e21f70, #ff4d2c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.sub-title {
    margin: auto;
    width: 70%;
    text-align: center;
}

.sub-title p {
    font-size: 15px;
    font-family: "Roboto";
    font-weight: normal;
    color: rgba(0, 0, 0, 0.85)

;
    opacity: 78%;
    letter-spacing: 0.28px;
    line-height: 25px;
    margin-top: 6%;
}

.header-img-div {
  position: relative;
   width: 100%;
   background: linear-gradient(
                to top right,
                #e21f70 0%,
                #ff4d2c 100%
              );
}

.inner-header-img-div {
  position: absolute;
  bottom: -50%;
  right: 25%;
}

.header-img {
  height: 240px;
  width: 120px;
}

/***** first Section ends *********/







/******* second Section *********/




/***** third Section *********/

.third {
    margin-top: 35%;
    text-align: left;
}

.features_list {
    margin-top:50px;
    padding: 0px 50px 0px 38px;
}

.features {
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 22px;
    letter-spacing: -0.15px;
    margin-top: 13px;
    margin-bottom: 9px;
}

.features_subtext {
    font-family: "Roboto";
    font-weight: normal;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.65);
    line-height: 26px;
    letter-spacing: 0.03px;
    
}

/***** Fourth Section *********/

.btn-grp{
  margin: 10% auto;
}

.mybtn{
  font-family: 'Roboto';
  font-weight: normal;
  font-size: 12px;
  letter-spacing: 1.85px;
  text-align: center;
  color: #e21f70;
  border: 1px solid #e21f70;
  background-color: white;
  width: 113px;
  height: 40px;
}

.mybtn-one{
  border-top-left-radius: 27px;
  border-bottom-left-radius: 27px;
}

.mybtn-three{
  border-top-right-radius: 27px;
  border-bottom-right-radius: 27px;
  background-color: rgba(226, 31, 112, 0.2);
}


/***** Fifth Section *********/
.fifth {
    margin-top: 10%;
}

.blog {
    padding: 15px;
    text-align: left;
    margin-left: 5%;
    margin-right: 5%;
}

.blog_list{
    margin-top: 5%;
    
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.rounded {
    border-radius: 0.25rem;
}

.read-more {
     margin-top: 10%;
}

.blog-links {
    font-family: 'Roboto';
    text-decoration: none;
    font-size: 15px;
    color: #E21F70;
    font-weight: 500;  
}

.blog-links:hover {
    text-decoration: underline;
}


/***** sixth Section *********/

.sixth{
  margin-top: 20%;
}

.footer-logo {
  margin-bottom: 30px;
}

.footer-btn {
  width: 170px;
  height: 70px;
}

.footer-ul li a{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.85);
    opacity: 0.9;
    letter-spacing: 0.36px;
    text-decoration: none;
    line-height: 30px;
}

.footer-ul {
   padding-top: 20%
}

.footer-col{
  padding-bottom: 5%;
}

.ul-one{
  text-align: left;
  line-height: 20px;
  margin-left: 20%;
}

.ul-two{
  padding-left: 0%;
  text-align: left;
}

.footer-info-one {
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.85);
    letter-spacing: 0.36px;
    line-height: 21px;
}

.footer-info-two {
    font-family: 'Roboto';
    font-weight: normal;
    font-size: 13px;
    color: #000000;
    letter-spacing: 0.34px;
    line-height: 21px;
    opacity: 70%;
    margin-top: 10px;
}

.footer-info-three {
    font-family: 'Roboto';
    font-weight: normal;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.85);
    letter-spacing: 0.36px;
    line-height: 21px;
    opacity: 78%;
    margin-bottom: 34px;
    margin-left: 20%;
}

